@import "default.scss";

body {
    // I prefer only the left and right margins for the post.
    align-items: unset;

    overflow-y: scroll;
}

#content {
    max-width: 80vmin;
}

pre {
    overflow-x: scroll;
    white-space: pre;
}
