@import "default.scss";

:root {
    --cursor-visibility: hidden;
}

body {
    // I prefer only the left and right margins for the post.
    align-items: unset;

    overflow-y: scroll;
}

#content {
    max-width: 82vmin;
    justify-content: left;
    text-align: center;
}

pre {
    overflow-x: scroll;
    white-space: pre;
}

#activity-title, #activity-content {
    &:after {
        @extend .cursor;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 2.5vmin;
        line-height: 2.6vmin;
    }

    #content {
        min-width: 120vmin;
    }

}