@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

body {
    height: 400px;
    position: relative;
    

    font-family: "Inconsolata", monospace;
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
}

#content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 600px;
    height: 200px;
}
