$charcolor: #00f633;
body {
    background: black;

    #terminal {
        color: #00f633;
    }

    #user {
        color: #00f633;
    }

    #dir {
        color: #00f633;
    }

    .Typewriter__cursor {
        color: $charcolor;
    }
}

a {
    color: $charcolor;
}
