$charcolor: #ffffff;
body {
    background: #300a24;

    #terminal {
        color: $charcolor;
    }

    #user {
        color: #4e9a06;
    }

    #dir {
        color: #3465a4;
    }

    .Typewriter__cursor {
        color: $charcolor;
    }
}

a {
    color: $charcolor;
}
