$charcolor: white;
body {
    background: $charcolor;

    #terminal {
        color: black;
    }

    #user {
        color: black;
    }

    #dir {
        color: black;
    }

    .Typewriter__cursor {
        color: $charcolor;
    }
}