<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}

        <!--  Additions start here -->
        
        {{ if .Site.Params.Navbar.use }}
            {{- partial "navbar.html" . -}} 
        {{ end }}
        
        <!-- Additions stop here --> 
    </body>
</html>
